<blockquote>
    Automatic bid control allows us to get the best value for your advertising dollar.
</blockquote>

<h3>Bid settings</h3>
<p class="control">
  <label class="radio">
    <input type="radio" name="question" checked>
    Automatic bid control
  </label>
</p>

  <label class="radio">
    <input type="radio" name="question">
    Max Bid Per Ad
  </label>
<label class="label"></label>
<div class="control">
    <p class="control has-icon">
      <input class="input is-medium" type="text" placeholder=".05">
      <span class="icon">
        <i class="fa fa-usd"></i>
      </span>
    </p>
</div>