

<h1 class="title is-1 has-text-centered">SUCCESS!</h1>

<div class="notification is-info">
  <button class="delete"></button>
Your ad has been successfully submitted!  Once your ad has been approved you will be notified and it will start to be displayed for everyone to enjoy!
</div>


<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Reach</p>
      <p class="title">107k</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Cost</p>
      <p class="title">$100/day</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Daily Clicks</p>
      <p class="title">3k</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Targeting</p>
      <p class="title">Broad</p>
    </div>
  </div>
</nav>