    <blockquote>
        For your first ad we recommend keeping targeting broad.  
    </blockquote>

<h3>Region</h3>
<div class="control">
    <div class="control">
        <p class="control">
            <label class="checkbox">
                <input type="checkbox" checked>
                    America
            </label>
        </p>
        <p class="control">
            <label class="checkbox">
                <input type="checkbox">
                    Europe
            </label>
        </p>
        <p class="control">
            <label class="checkbox">
                <input type="checkbox">
                    Japan
            </label>
        </p>
    </div>
</div>

<h3>Keywords</h3>
</div>
